html,
body {
  position: fixed;
  margin: 0;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

.base {
  display: flex;
}

@media only screen and (max-width: 1224px) {
  .base {
    flex-direction: column;
  }
}
