.greeting {
  text-align: center;
}

.Human_text {
  background-color: #23b3cd;
  border-radius: 20px;
  color: white;
  padding: 15px;
  width: fit-content;
}

.Goat_text {
  background-color: lightgrey;
  border-radius: 20px;
  color: black;
  padding: 15px;
  width: fit-content;
  margin-left: 10px;
}

.textContainer_Human {
  display: flex;
  justify-content: flex-end;
}

.textContainer_Goat {
  display: flex;
}

.chatProfilePic {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.chat_input {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 375px;
  width: calc(100vw - 375px);
}

.chat_inputField {
  padding: 10px;
  flex: 1;
}